<!--    TREE-->


<form [formGroup]="treeGroup" #form (ngSubmit)="onFormSubmit()">
  <div class="myDialog">
    <div class="leftPart">
      <!--      <mat-expansion-panel-header>-->
      <mat-card>
        <p>Company Structure</p>
        <!--      </mat-expansion-panel-header>-->
        <div class="myClass">
          <app-tree-checkbox [data]="dummyFrobBackend" [mainControlName]="'treeData'"></app-tree-checkbox>
        </div>
      </mat-card>

    </div>

    <div class="rightPart">
      <div class="checkboxes">
        <mat-card>
          <section >
            <!--  <span class="example-list-section">-->
            <mat-checkbox class="example-margin"
                          [checked]="allComplete"
                          color="accent"
                          [indeterminate]="someComplete()"
                          (change)="setAll($event.checked)">
              Select All
            </mat-checkbox>

            <div *ngFor="let structureType of structuretypes">
              <mat-checkbox
                color="primary"
                [checked]="checklistSelection.isSelected(structureType)"
                (change)="updateAllComplete(structureType)">
                {{structureType.name}}
              </mat-checkbox>
            </div>

          </section>


        </mat-card>

        <input type="checkbox" class="mat-checkbox">

        <button mat-button type="submit" (click)="onSaveClick()">Add</button>
        <button mat-button id="close-button" (click)="onNoClick()">Close Dialog</button>

      </div>

    </div>

  </div>
</form>


<!--  <mat-card>-->
<!--    <button mat-button type="submit">Add</button>-->
<!--    <button (click)="form.reset()" mat-button type="button">Clear</button>-->
<!--  </mat-card>-->

